body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}

#gameCanvas {
    display: block;
    margin: auto;
    background: #1a1a1a;
    border: 2px solid #00ffcc;
}


